#caja {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    text-align: center;
    height: 100px;
}

.dados {
    background-color: black;
    border-radius: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;

}

h2 {
    margin: 0%;
    padding: 0%;
    color: white;
    font-size: 100px;
}