<h1>
	{{ (getErrezeta.id) ? 'Editatu' : 'Berria' }}
	Errezeta
	<small>{{getErrezeta.deskribapena}}</small>
</h1>


<div class="grid">
	<div class="col-12 sm:col-6">
		<mat-card>
			<mat-card-content>
				<div class="grid">
					<mat-form-field class="col-12 sm:col-6">
						<mat-label>Deskribapena: </mat-label>
						<input matInput type="text" required [(ngModel)]="getErrezeta.deskribapena">
					</mat-form-field>
					<mat-form-field class="col-12 sm:col-6">
						<mat-label>Osagaiak: </mat-label>
						<input matInput type="text" required [(ngModel)]="getErrezeta.osagaiak">
					</mat-form-field>
					<mat-form-field class="col-12">
						<mat-label>Prezioa: </mat-label>
						<input matInput type="text" required [(ngModel)]="getErrezeta.prezioa">
					</mat-form-field>
					<mat-form-field class="col-12">
						<mat-label>Argazkia: </mat-label>
						<input matInput type="url" required [(ngModel)]="getErrezeta.argazkia">
					</mat-form-field>
				</div>

				<div class="flex justify-content-between">
					<button mat-raised-button color="primary" (click)="gordeErrezeta()">
						<mat-icon>edit</mat-icon>
						{{ (getErrezeta.id) ? 'Eguneratu' : 'Gorde' }}
					</button>
					<button *ngIf="errezeta.id" mat-raised-button color="warn" (click)="ezabatuErrezeta()">
						<mat-icon>remove</mat-icon>
						Ezabatu
					</button>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="col-12 sm:col-6">
		<mat-card>
			<img [src]="errezeta | imagen" mat-card-image>
		</mat-card>
	</div>
</div>